.main-body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  margin: auto;
  font: normal 100% Arial, sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

section {
  height: 43em;
  width: 98%;
  display: block;
  margin: auto;
  padding: 0.5%;
  margin-bottom: 1%;
}

h1 {
  text-align: center;
}

[class*="pyramid"] {
  opacity: 0;
  visibility: hidden;
}

@keyframes show {
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes run {
  16.6666667% {
    animation-delay: 100ms;
  }

  33.3333333% {
    animation-delay: 200ms;
  }

  50% {
    animation-delay: 300ms;
  }

  66.6666667% {
    animation-delay: 400ms;
  }

  83.33333667% {
    animation-delay: 500ms;
  }

  100% {
    animation-delay: 600ms;
  }
}

.pyramid,
.pyramid--3,
.pyramid--5 {
  width: 12em;
  border-radius: 1px;
  border-left: 120px dotted transparent;
  border-right: 80px dotted transparent;
  border-bottom: 120px solid goldenrod;
  position: absolute;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  bottom: 0;
}

.pyramid--2,
.pyramid--4,
.pyramid--6 {
  width: 15em;
  border-radius: 1px;
  border-left: 130px dotted transparent;
  border-right: 110px dotted transparent;
  border-bottom: 150px solid maroon;
  position: absolute;
  left: 14%;
  bottom: 0;
  transition: all 1s ease-in-out;
}

.pyramid--3 {
  left: 30%;
}

.pyramid--4 {
  left: 40%;
}

.pyramid--5 {
  left: 56%;
}

.pyramid--6 {
  left: 68%;
}

.cont:hover [class*="pyramid"] {
  animation: show 0.5s linear forwards;
}

.cont:hover .pyramid--2 {
  animation-delay: 400ms;
}

.cont:hover .pyramid--3 {
  animation-delay: 800ms;
}

.cont:hover .pyramid--4 {
  animation-delay: 1200ms;
}

.cont:hover .pyramid--5 {
  animation-delay: 1600ms;
}

.cont:hover .pyramid--6 {
  animation-delay: 2000ms;
}

.cont:active [class*="pyramid"] {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.cont {
  height: 20em;
  width: 100%;
  margin: auto;
  display: block;
  padding: 2%;
  background-color: hsla(180, 20%, 80%, 0.6);
  margin-top: 3%;
  padding-bottom: 40%;
  position: relative;
  box-shadow: 2px 2px 0 10px hsla(210, 60%, 30%, 0.7);
}

.cube-cont {
  height: 200px;
  width: 200px;
  position: relative;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  margin-top: 150px;
  margin-bottom: 150px;
}

.cube {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: translateZ(-100px);
  transform: translateZ(-100px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.cube:hover {
  -webkit-transform: rotateX(90deg) rotateY(90deg);
  transform: rotateX(90deg) rotateY(90deg) translate3d(-50px, 50px, -5px);
}

.cube:active {
  -webkit-transform: rotateX(-45deg) rotateY(-120deg) translate3d(20px, -25px, 20px);
  transform: rotateX(-45deg) rotateY(-120deg) translate3d(20px, -25px, 20px);
}

.cube figure {
  margin: 0;
  width: 196px;
  height: 196px;
  display: block;
  position: absolute;
  border: 2px solid #eaeaea;
  padding: 40%;
  font-size: 200%;
  color: #aaa;
}

.cube .front {
  -webkit-transform: rotateY(0deg) translateZ(100px);
  transform: rotateY(0deg) translateZ(100px);
  background-color: hsla(0, 40%, 70%, 0.5);
}

.cube .back {
  -webkit-transform: rotateX(180deg) translateZ(100px);
  transform: rotateX(180deg) translateZ(100px);
  background-color: hsla(60, 40%, 70%, 0.5);
}

.cube .right {
  -webkit-transform: rotateY(90deg) translateZ(100px);
  transform: rotateY(90deg) translateZ(100px);
  background-color: hsla(120, 40%, 70%, 0.5);
}

.cube .left {
  -webkit-transform: rotateY(-90deg) translateZ(100px);
  transform: rotateY(-90deg) translateZ(100px);
  background-color: hsla(180, 40%, 70%, 0.5);
}

.cube .top {
  -webkit-transform: rotateX(90deg) translateZ(100px);
  transform: rotateX(90deg) translateZ(100px);
  background-color: hsla(240, 40%, 70%, 0.5);
}

.cube .bottom {
  -webkit-transform: rotateX(-90deg) translateZ(100px);
  transform: rotateX(-90deg) translateZ(100px);
  background-color: hsla(350, 40%, 70%, 0.5);
}

@keyframes slide {
  25% {
    left: 300px;
    top: 80px;
  }

  50% {
    left: 600px;
    top: 0;
  }

  75% {
    top: 80px;
    left: 900px;;
  }

  100% {
    top: 0;
    left: 1190px;
  }
}

.draft {
  background: #eaeaed;
  border-radius: 6px;
  height: 150px;
  position: relative;
  min-width: 538px;
}

.draft:hover .ball {
  -webkit-animation: slide 4s linear;
  animation: slide 4s linear alternate infinite;
}

.ball {
  background: #2db34a;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
  top: 0;
  left: 0;
}
